* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 40px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #1c1c1c);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.521);
    z-index: 999;
    animation: FromTop 600ms ease-in-out;
}

@keyframes FromTop {
    0% {
        transform: translateY(-70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.wrap-img {
    background: linear-gradient(180deg, #111, #1c1c1c);
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-links {
    background: linear-gradient(180deg, #111, #1c1c1c);
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.wrap-links a {
    text-decoration: none;
    color: #e5091477;
    font-weight: bold;
    transition: all 200ms ease-in-out;
}

.wrap-links a:hover {
    text-decoration: none;
    color: #e2e2e2;
}

.logo {
    width: 70px;
    height: 70px;
    animation: fromLogo 2s ease-in-out;
}

@keyframes fromLogo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#s1 {
    background: linear-gradient(180deg, #111, #1c1c1c);
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s1 p {
    color: #d6d6d6;
}

.left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromLeft 2s ease-in-out;
}

@keyframes fromLeft {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.right {
    width: 400px;
    animation: fromRight 2s ease-in-out;
}

@keyframes fromRight {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.wrap-banner {
    overflow: hidden;
    width: 450px;
    height: 450px;
}

.wrap-banner img {
    padding-left: 10px;
    width: 450px;
    height: 450px;
    filter: grayscale(30%);
    transition: 200ms ease-in-out;
}

.wrap-banner img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.right h1 {
    font-size: 48px;
    width: 100%;
}

.right p {
    width: 100%;
}

#s2 {
    background: linear-gradient(180deg, #111, #1c1c1c);
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.wrap-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20vh; 
}


#s2 .card {
    width: 300px;
    padding: 20px;
    border: 2px solid #090909;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1e1e1e; 
}

#s2 .card img {
    margin-bottom: 20px;
    transition: all 200ms linear;
    border-radius: 16px;
}

#s2 .card:hover img {
    transform: scale(1.1);
    box-shadow: 0px 3px 20px #09090976;
}

#s2 .card h3 {
    color: #e5091477;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

#s2 .card p {
    font-size: 0.9rem;
    color: #ddd;
    line-height: 1.4;
}

.motor,
.injecao,
.velas,
.embreagem,
.suspencao,
.turbo,
.Godzilla {
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

#s3 {
    background: linear-gradient(180deg, #111, #1c1c1c);
    min-height: 100vh;
    width: 100%;
    padding-top: 50px;
}

#s3 iframe {
    width: 768px;
    height: 480px;
}

.wrap-video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
}



#s4 {
    background: linear-gradient(180deg, #111, #1c1c1c);
    min-height: 100vh;
    padding-top: 80px;
}

.curiosidades {
    background: linear-gradient(180deg, #111, #1c1c1c);
    color: #fff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 20px;
    margin: 40px auto;
    max-width: 1200px;
    box-shadow: 0px 0px 25px #00000055;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.curiosidades h2 {
    font-size: 2rem;
    color: #e5091477;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#s4 .card {
    position: relative;
    width: 700px;
    height: 480px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
    border: none;
    transition: box-shadow 0.3s ease; 
}

#s4 .card:hover {
    transform: none; 
    box-shadow: 0 8px 20px #e5091477;
}

#s4 .card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e5091477;
    transform: skewY(345deg);
    transition: 0.5s;
}

#s4 .card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

#s4 .card::after {
    content: "NISSAN";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

#s4 .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

#s4 .card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

#s4 .card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}

#s4 .card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

#s4 .card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #ff091577;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    
}

#s4 .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

#s4 .gtr {
    max-height: 130px; 
    width: auto;
    object-fit: contain;
    margin-bottom: 0;
    border-radius: 0;
}

@media (width <=1500px) {
    nav {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    .wrap-links a {
        text-align: center;
    }

    #s1 {
        padding-top: 130px;
        flex-direction: column;
        min-height: 50vh;
        height: auto;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        text-align: center;
    }

    .wrap-banner {
        width: 250px;
        height: 250px;
    }

    .wrap-banner img {
        width: 250px;
        height: 250px;
    }

    #s3 {
        min-height: 50vh;
        height: auto;
        width: 100%;
    }

    #s3 iframe {
        width: 95%;
    }
}